body {
      text-align: justified;
      background-image: url("spain.jpg");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: verdana;
    }
.header {
	color: black;
    height:50px;
    font-size: 50px;
 }


#left {
	float: left;
	width: 200px;}

a:link {color:#FBEFEF;}  
a:visited {color:#F6CECE;}
a:hover {color:#3B0B0B;}  
a:active {color:#A4A4A4;} 
